*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid palegreen; */
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 650px;
    height: auto;
    margin: 0px auto;
    background-color: gray;
    
}
.large_box{
    width: 580px;
    height: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: #273137;
    

}
.box-a{
    grid-column: 1/3;
    color: #fff;

}
.box-a span img{
    height: 15px;
}
.box-a span h5{
    font-size: 16px;
    padding-left: 5px;
    font-weight: 800;
}
.box-a span{
    display: flex;
    align-items: center;
    padding: 20px 20px;

}
.box-a p{
    font-size: 12px;
    text-align: left;
    padding: 20px 20px 10px 20px;
}
.box-b{
    grid-column: 3/6;
    grid-row: 1/3;
    color:black;
    background-color: #feec8e;
}

.box-b button{
    font-size: 10px;
    width: 50px;
    height: 20px;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.box-b h2{
    padding: 90px 30px;
    text-align: center;
    font-size: 26px;


}
.box-c{
    grid-column: 6/8;
    /* margin: 0px 20px; */
    padding-top: 80px;
    padding-left: 20px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}
.box-d{
    grid-column: 1/3;
    color: #fff;
}
.box-d  i{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.box-d span{
    display: flex;
    /* align-items: center;
    justify-content: space-evenly; */
    padding: 60px 30px 10px 20px;

}
.box-d span p{
    font-size: 10px;
}

.box-e{
    grid-column: 6/8;
    padding-top: 60px;
    padding-left: 20px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}
.box-e h3{
    font-size: 20px;
    padding-bottom: 5px;
}
.box-f{
    grid-column: 1/3;
    padding: 50px 25px;
    color: #fff;
}

.box-f h4{
    font-weight: 500;
    padding-bottom: 20px;
}
.box-f a{
    color: #fff;
    font-size: 10px;
}
.box-g{
    grid-column: 3/6;
    display: flex;
}

.box-g-1{
    width: 50%;
    position: relative;
    bottom: 30px;
}
.box-g-1 img{
    width: 120px;
    height: 150px;
}

.box-g-2 {
background-color: #fff;
position: relative;
bottom: 60px;
right: 40px;
height: 130px;
width: 130px;
padding: 10px 10px 20px 10px;
}

.box-g-2 h4{
    font-size: 13px;
    padding-top: 20px;
    
}
.box-h{
    grid-column: 6/8;
    color: #fff;
    display: flex;
    border: 1px solid #fff;
    border-right: none;
}
.box_h-1{
    width: 50%;
}
.box_h-1 h3{
    padding-top: 50px;
    font-size: 16px;
    padding-left: 10px;
}
.box_h-2 img{
   width: 90px;
   height: 130px;
   margin-top: 49px;
   background-color:rgb(46, 56, 46) ;
}
.box-h p{
    font-size: 10px;
    padding: 10px 10px;
}
